table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;

  td {
    border: 1px solid black;
    height: 30px;
    width: 30px;

    button {
      height: 30px;
      width: 30px;
      padding: 6px 0;
      cursor: default;
      user-select: none;
      transition: all .2s linear;
      outline: none;

      &.close {
        background-color: lightgray;
      }

      &.flag {
        background-color: #849dff;
        color: #849dff;
      }

      &.open {
        background-color: white;
        text-align: center;
        vertical-align: middle;
      }

      &.bomb {
        background-color: #ff726b;
      }

      &.flag-bomb {
        background-color: #a741ff;
      }
    }
  }
}

.status-container {
  text-align: center;
  border-bottom: 1px solid gray;
  width: 100%;

  div {
    display: inline-block;
    width: 200px;
    padding: 5px;

    &:first-child {
      border-right: 1px solid gray;
    }

    p {
      font-size: 17px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
  }
}

@mixin main-container {
  height: 200px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px 10px;

  p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
}

.difficult {
  @include main-container;

  ul {
    text-align: center;
    padding: 0;

    li {
      list-style: none;

      button {
        width: 150px;
        padding: 5px 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.login {
  @include main-container;
  text-align: center;

  input[type="text"] {
    padding: 3px 5px;
  }
}

.header {
  height: 30px;
  text-align: right;
  border-bottom: 1px solid gray;
  padding-right: 20px;
  vertical-align: middle;

  .login-container {
    display: inline-block;

    .login-btn {
      padding: 0 5px;
      margin-left: 5px;
    }

    .login-link {
      display: block;

    }
  }
}

.game-container {
  text-align: center;
  .game-btn {
    display: inline-block;
    margin: 5px;
    padding: 0 10px;
  }
}
