table {
  border-collapse: collapse;
  margin: 25px auto;
  text-align: center;

  td {
    border: 1px solid black;
    height: 30px;
    width: 30px;

    div {
      height: 100%;
      padding: 6px 0;
      cursor: default;
      user-select: none;
      transition: all .2s linear;

      &.close {
        background-color: lightgray;
        color: lightgray;
      }

      &.flag {
        background-color: #849dff;
        color: #849dff;
      }

      &.open {
        background-color: white;
        color: black;
        text-align: center;
        vertical-align: middle;
      }

      &.bomb {
        background-color: #ff726b;
      }

      &.flag-bomb {
        background-color: #a741ff;
      }
    }
  }
}