table {
  border-collapse: collapse;
  margin: 25px auto;
  text-align: center;

  td {
    border: 1px solid black;
    height: 30px;
    width: 30px;

    button {
      height: 30px;
      width: 30px;
      padding: 6px 0;
      cursor: default;
      user-select: none;
      transition: all .2s linear;
      outline: none;

      &.close {
        background-color: lightgray;
      }

      &.flag {
        background-color: #849dff;
        color: #849dff;
      }

      &.open {
        background-color: white;
        text-align: center;
        vertical-align: middle;
      }

      &.bomb {
        background-color: #ff726b;
      }

      &.flag-bomb {
        background-color: #a741ff;
      }
    }
  }
}

.header {
  border-bottom: 1px solid gray;
  text-align: center;

  .diff-container {
    display: inline-block;
    width: 200px;
    padding: 20px;

    div {
      display: inline-block;
      margin-right: 5px;
    }

    p {
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 5px 0;
    }
  }

  .status-container {
    display: inline-block;

    div {
      display: inline-block;
      width: 200px;
      padding: 20px;

      &:first-child {
        border-right: 1px solid gray;
        border-left: 1px solid gray;
      }

      p {
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 5px 0;
      }
    }
  }
}