{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "es6": true
    }
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "react/prop-types": 0,
    "comma-dangle": 0
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
