$border: 1px solid lightgray;

.container {
  padding: 20px 0;
}

.panel-default {
  padding: 0;

  .panel-heading {
    background-color: #dcfff5;
  }
}

div.draggable {
  padding: 10px 5px;

  label.check {
    font-weight: 400;
    vertical-align: middle;
    margin-left: 10px;
  }

  input {
    cursor: default;
    user-select: none;

    &[type="checkbox"],
    &[type="radio"],
    &[type="button"] {
      margin-left: 10px;
    }
  }
}

div.container-elements {
  @extend .draggable;

}

.avatar {
  background-color: white;
  box-shadow:  0 0 10px 5px rgba(221, 221, 221, 1);
  padding: 10px;
}

form {
  min-height: 200px;

  .hover {
    background-color: bisque;
    border: 1px solid red;
  }
}

div.form-json {
  textarea {
    width: 450px;
  }

  button {
    width: 120px;
    margin: 10px auto;
  }
}
