#clicks {
  text-align: center;
  font: bold 18px Arial;
  color: gray;
}

table {
  margin: 25px;
  display: inline-block;
}

td {
  height: 28px;
  width: 28px;
  transition: all .2s linear;
  border: 1px solid black;
  cursor: default;
  user-select: none;
}

td.close {
  background-color: lightgray;
  color: lightgray;
}

td.flag {
  background-color: #849dff;
  color: #849dff;
}

td.open {
  background-color: white;
  color: black;
  text-align: center;
  vertical-align: middle;
}

td.bomb {
  background-color: #ff726b;
}

td.flag-bomb {
  background-color: #a741ff;
}